.wrapper{

}

.headerAtas{
	padding-top: 1vw;
	height: 13vw;
	padding-left: 2vw;
	border-bottom:5px solid #013618;
	background-color: #f9f9f9;
}

.logo1{
	height:10vw;
	width:9vw;
	float:left;
	margin-left:10vw;
}
.logo1 img{
	height:100%;
	width:100%;
}

.keterangan{
	float:left;
	height:10vw;
	width: 53vw;
	margin-left:2vw;
}

.ket2{
	font-size:1.6vw;
	font-weight:bold;
	font-family: Times New Roman;
	text-align:center;
	float: left;
	padding-top: 1vw;
	width: 53vw;
	color:#000;
}

.logo2{
	height:10vw;
	width:13vw;
	margin-left: 54vw;
}
.logo2 img{
	height:100%;
	width:90%;
}

.tabel{
}

.panel-heading{
	font-size: 2vw;
	font-weight: bold;
	color: #013618;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #013618;
    border-color: #013618;
}
