#wrapper{
	padding:0vw 1vw 0vw 1vw;
	background-color:#003d1e;
}

.headerAtas{
	height:11vw;
	margin-top:1vw;
	border-bottom:3px solid #013618;
}

.logo1{
	height:14vw;
	width:14vw;
	float:left;
	margin-top:-2vw;
}
.logo1 img{
	height:100%;
	width:100%;
}

.keterangan{
	height:10vw;
	width:70vw;
	float:left;
	margin-left:2vw;
}

.logo2{
	height:10vw;
	width:13vw;
	margin-left:80vw;
}
.logo2 img{
	height:100%;
	width:90%;
}

.ket1{
	font-size:4vw;
	font-weight:bold;
	color:#fff;
	font-family:Calibri;
	text-align:center;
   -webkit-text-stroke: 1px white;

}

.contentJudul{
	height:10vw;
	width:100%;
	margin-top:1vw;
}

.ket2{
	font-size:2.8vw;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight:bold;
	text-align:center;
	float:left;
	margin-left:15vw;
	color:#000;
	-webkit-text-stroke: 1px #000;
   text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}

.contentCalon{
	background-color:#eee;
}
.kotak{
	margin-top:2.5vw;
	padding-bottom:3vw;
}

.nomer{}

.foto{
	text-align:center;
}

.foto img{
	box-shadow: 2px 2px 9px #000;
}

#wrapper1{
	padding:1vw 1vw 1vw 1vw;
	background-color:#003d1e;
	height:92%;
	padding-top:3vw;
}

#kotakSemua{
}

.angka{
	padding:1vw;
	width: 60vw;
	height:80%;
	margin-left: 17vw;
	background-color:#eee;
}

.atasKartu{
	height:8vw;
	border-bottom:4px solid;
	padding-bottom:.5vw;
	padding-left:1vw;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight:bold;
}

#timer{
	font-size:20vw;
	text-align:justify;
	color:red;
}

.ket{
	text-align:center;
	margin-top:2vw;
	padding:1vw;
	font-size: 1.8vw;
	color:#003d1e;
	width: 60vw;
	margin-left: 17vw;
	font-weight:bold;
	background-color:#eee;
}

.atas1{
	height:8vw;
	width:7vw;
	float:left;
}

.text1{
	margin-left:42vw;
	border-left:5px solid #003d1e;
	height:91%;
	padding-top:2vw;
	padding-left:2vw;
}

.textNya{
	font-size:3vw;
	font-weight:bold;
}
.textNya1{
	font-size:2vw;
	padding-top:2vw;
	padding-bottom:1vw;
}

.fotoText{
	height:21vw;
}
.foto1{
	float:left;
	height:20vw;
	margin-left:1vw;
 	width:15vw;
}

.foto1 img{
	height:100%;
	width:100%;
}

.textNya2{
	font-size:1vw;
	padding-top:2vw;
	padding-bottom:1vw;
}
