.example-content {
    position:absolute;
    height: auto;
    width: 100%;
    background:#2E3732;
	color: #FFFFFF;
    display:none;
	text-shadow: none;
	z-index: 1000;
	padding:10px;
	line-height: 19px;
	text-align: justify;
	opacity: 0.8;
}
 
.tooltip-target {
  display: block; /* required */
  border-bottom:1px solid #fff;
  position: relative; /* required */
}

.logo{
	width:70vw;
	font-family:Agency FB;
	font-size:2vw;
	font-weight:bold;
	margin-left:2VW;
	font-weight:italic;
}
.logo img{
	width:8vw;
	height:3vw;
	margin-right:2vw;
}

.keluar{
	float:right;
	width:4vh;
	height:2vw;
}
.keluar img{
	width:100%;
	height:100%;
}

.suratSuara{
	background-color:#003d1e;
}

.pemilu{
	background-color:#eee;
	padding-top:2vw;
	padding-bottom:2vw;
	color:#4CAF50;
	border-bottom: 5px solid #003d1e;
}

.footer{
	height:2vw;
	background-color:#003d1e;
}