

.x_title h1{
	font-weight:bold;
	text-align:center;
	color:#fff;
}

.nav-md{
	background-color:#003d1e;
}

.fotoCalon{
	margin:2vw;
}
.kotakFoto{
	height:27vw;
	float:left;
	width:21vw;
	margin-left:1.8vw;
	border:1px solid;
}
.kotakFoto img{
	height:85%;
	width:100%;
}
.nomerCalon{
	border-bottom:1px solid;
	text-align:center;
	font-size:3vw;
}
.jumCalon{
	border:4px solid #003d1e;
	text-align:center;
	font-size:4vw;
	color:#003d1e;
	margin-top:1vw;
}
.totalCalon{
	border:1px solid;
	width:15%;
	text-align:center;
	font-size:6vw;
	color:#003d1e;
	margin-top:10vw;
	margin-left:58%;
}

.keteranganSuara{
	width:30%;
	text-align:center;
	font-size:3vw;
	color:#003d1e;
	font-weight:bold;
	float:left;
	margin-top:12.5vw;
	margin-left:26%;
}


.ketCalon{
	text-align:center;
	padding-top:1vw;
	font-size:1.5vw;
	color:#000;
}

border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

td{
	color:#003d1e;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #003d1e;
    color: white;
}

.even .pointer{
	font-size:2vw;
}

.x_content{
	margin-top:2vw;
}

#hasil{
	font-size:1.5vw;
}
#jumlah{
	font-size:1.5vw;
	font-weight:bold;
}

.table{
	width:80%;
	margin-left:10vw;
}