#wrapper{
	width:84%;
	margin-left:16%;
	background-color:#ededed;
}
#wrapper_menu{
	color:#73879C;
	overflow:scroll;
	height:92%;
	background-color:#F7F7F7;
}

#judulnya{
	font-size:36px;
	color:rgba(0, 61, 30, 0.76);
	margin:2%;
	font-weight:bold;
}
#wrapper_submenu{
	background-color:#fff;
	margin:2%;
	color:rgba(0, 61, 30, 0.76);
	height:200px;
}

#juduldalem{
	font-weight:bold;
	margin-left:20px;
	width:100%;
	float:left;
	height:100%;
}
#juduldalem1{
	font-weight:bold;
	margin-left:20px;
	width:46vw;
	float:left;
	height:100%;
	border-right:10px dotted #F7F7F7;
}

.judul_kanan{
	margin-left: 49vw;
	height:100%;
	padding-right:1vw;
	border-right:10px dotted #F7F7F7;
	padding-top:7vw;
}

#countdon{
	border-bottom:2px solid;
}

#wakPem{
	font-size:3vw;
	text-align:center;
	border-bottom:2px solid;
}

.fot{
	height:2vw;
	border-radius:20px;
	width:2vw;
}

#nom{
	font-size:1.5vw;
	line-height:10vw;
	font-weight:bold;
}

.progress-bar{
	overflow:hidden;
}

.note{
	padding:.5vw;
	float:left;
}

.tex{
	padding-top:.5vw;
	font-size:1.2vw;
	color:#003d1e;
	text-align:center;
	font-weight:bold;
}

#scrollnya{
    padding-bottom:1%;
}
#garis{
	border:1px solid #D9DEE4;
	background-color:#fff;
	margin:2%;
}

#table{
	margin:2%;
}

#tambah{
	float:right;
	border-radius:10px;
	text-align:center;
	width:12%;
	margin-bottom:2%;
	margin-right:2%;
	color:#2A3F54;
	font-size:3vh;
}

#kotak_judul{
	font-weight:bold;
	margin-left:20px;
	font-size:28px;
	margin:3% 3% 0 3%;
	text-align:center;
}

#formnya{
	padding-left:15%;
	margin-top:3%;
}

