
#kotak_beranda0{
}
#kotak_beranda{
	height:200%;
}
#kotak_beranda1{
	height:100%;
	width:40%;
	float:left;
}
#kotak_beranda11{
	width:40%;
}
#kotak_beranda22{
	height:100%;
	width:90%;
	margin-left:5%;
}
#kotak_beranda20{
	height:80%;
	width:90%;
	margin-left:5%;
}
#kotak_beranda2{
	height:50%;
	margin-left:40%;
}
#kotak_beranda21{
	width:80%;
	padding-top:6%;
	margin-left:5%;
	float:left;
}
#kotak_beranda211{
	height:35%;
}

.kotak_beranda212{
	height:35%;
	padding-top:6.5%;
}
#garis1{
	width:96%;
	height:4%;
	border-bottom:2px solid #D9DEE4; 
	background-color:transparent;
	color:#003d1e;
	font-size:2vw;
	margin-left:2%;
}
#foto2{
	margin-top:2%;
	height:30vw;
	margin-left:10vw;
	width:23vw;
	border:2px solid #D9DEE4; 
	background-color:transparent;
	float:left;
}
#foto3{
	margin-top:2%;
	height:30vw;
	margin-left:2vw;
	width:23vw;
	border:2px solid #D9DEE4; 
	background-color:transparent;
	float:left;
}

#foto4{
	margin-top:2%;
	height:20vw;
	margin-left:1vw;
	width:18vw;
	border:2px solid #D9DEE4; 
	background-color:transparent;
	float:left;
}

#gambar{
	margin-top:-10%;
	height:30%;
	margin-left:50%;
	width:12%;
	border:2px solid #D9DEE4; 
	background-color:transparent;
}

#jumlah{
	z-index:999;
	margin-top:-25%;
	height:10%;
	margin-left:60%;
	width:12%;
	font-size:30px;
}
#timer{
	z-index:999;
	margin-top:100%;
	height:10%;
	margin-left:40%;
	width:12%;
	font-size:400px;
}
#gambar_kotak{
	z-index:-1;
}
