.content-header h1{
	font-weight:bold;
	color:#008d4c;
}

.tempatFot{
	margin-left:-2vh;
	width:40vh;
	height:50vh;
	border:1px solid #eee;
}

.gambar{
}
#fot{
	width:27vh;
	margin-left:5vw;
	height:35vh;
	float:left;
}