body{
}
/* ===================================== MENU 2 ================================== */
#menu_utama{
	width:18%;
	height:100%;
	padding-left:1%;
	background-color:#003d1e;
	float:left;
}
#foto_menu{
	margin-top:15%;
	width:100%;
	height:25%;
}
#foto_menu1{
	width:100%;
	height:30%;
}
#foto_menu2{
	width:100%;
	height:70%;
}
#foto_menu_gambar{
	width:70%;
	border-radius:100px;
	padding-left:3%;
	margin-left:15%;
	height:100px;
}
#foto_menu_fak{
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	margin-top:6%;
	margin-left:-4%;
	font-size:22px;
}

#kotak{
	margin-top:15%;
}
#foto_menu_gambar2{
	width:30%;
	margin-left:5%;
	margin-top:7%;
	height:60%;
	float:left;
	background-color:#fff;
	border-radius:100px;
}
#foto_menu_fak2{
	width:70%;
	margin-left:45%;
	height:100%;
	padding-top:7%;
	font-size:4vh;
	color:#fff;
}
#menu2{
	width:100%;	
}

#menu2 ul {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	position: relative;
}


#menu2 ul li a{ /*pengaturan tulisan menu dkk*/
	width:100%;
	color: #fff;
	font-size:3vh;
	display: block;
	background-color:#003d1e;
	padding: 15px;
	border-left:1px solid;
	text-decoration: none;
}

#menu2 ul li a:hover{
	color: #003d1e;
	text-decoration: none;
	background-color: #fff;
	font-weight:bold;
}

#menu2 ul li:hover ul{ 
	display: block;
	
}
#menu2 ul ul.sub{ 
	width: 100%;
	display:none;
	position:absolute;
	top: 0px;
	margin-left:70px;
	left: 126px;
}
#menu2 ul ul.sub li:hover{
	display: block;
	position: relative;
	 
}


#user{
	width:84.5%;
	margin-left:15.5%;
	height:7%;
	padding-top:5px;
	background-color:#ededed;
}

#foto-user{
	width:40px;
	margin-left:83%;
	border-radius:100px;
	float:left;
	height:80%;
}
#foto-user img{
	width:100%;
	border-radius:100px;
	height:100%;
}

.dropdown{
	margin-left:88%;
	width:110px;
	margin-top:12px;
}

.dropdown a{
	text-decoration:none;
	color:#2A3F54;
}

span.arrow_a {
	width:0;
	height: 0;
	border:0.4vw solid transparent;
	border-top:0.6vw solid #2A3F54;
	position: absolute;
	margin-right:10px;
	right:1px;
	top:35%;
	z-index: 
}
.dropdown-content {
    display: none;
	background-color:white;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
