#wrapper{
}
#form_login{
	height:1000px;
	width:100%;
}
a{
	text-decoration:none;
}
#header1{
	position:relative;
}


.logo{
	width:80px;
	padding-left:100px;	
	padding-top:10px;
	padding-bottom:10px;
}

.header-menu1{
	margin-top:-60px;
	padding-left:180px;
	float:left;
}

#menu{
	height:45px;
	float:left;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    float: left;
}

#menu li a{
    display: block;
    color: #000;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
#menu li a, .dropbtn {
    display: block;
    color: #49723E;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
#menu li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}
#menu li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
	background-color:white;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu li a:hover{
    background-color: #49723E;
	color:white;
}

#menu1{
	height:45px;
}

.header-menu2{
	margin-top:-75px;
	padding-right:100px;
	float:right;
}

#user_login{
	margin-top:-53px;
	float:right;
	margin-right:14%;
	font-size:20px;
	color:green;
}
#log_out{
	margin-top:-50px;
	float:right;
	margin-right:8%;
	color:green;
}
#log_out{
	margin-top:-50px;
	float:right;
	margin-right:8%;
	color:green;
}
#log_out1{
	margin-top:-50px;
	float:right;
	margin-right:8%;
	color:green;
}

/*halaman index*/

#content1{
	width:absolute;
	height:500px;
}

#berita{
	height:450px;
	width:58%;
	margin:0px 25px 25px 110px ;
	float:left;
}

.judulconten{
	height:28px;
	padding-top:8px;
	padding-left:10px;
	width:absolute;
	margin-bottom:1px solid;
	font-weight:bold;
	font-size:18px;
	border-bottom:1px solid;
	color:#49723E;
}

.isiconten{
	width:absolute;
	border-bottom:1px solid #777;
}

.kotak{
	height:200px;
	width:absolute;
	margin:3px;
}

.judul{
	height:20px;
	padding-top:5px;
	width:absolute;
	color:#a52c2c;
	font-size:20px;
	margin:3px 3px 3px 6px;
}

.tanggal{
	color:#777;
	font-size:12px;
	margin:4px 2px 2px 6px;
}

.isi{
	font-size: 14px;
	margin:12px 3px 3px 6px;
	text-align:justify;
}
#pengumuman{
	width:23%;
	margin-top:25px;
	margin-left:68%;
	margin-bottom:25px;	
}

.isipengumuman{
	width:absolute;
	color:#a52c2c;
	font-size:16px;
	margin:10px;
}

.isipengumuman:hover{
	font-weight:underline;
	color:#000;
}

/*halaman bph*/
#content2{
	padding-top:2%;
	padding-left:8%;
	padding-right:8%;
	padding-bottom:3%;
	background-color:#F5F5F5;
}

#header-content{
	height:35%;
	width:100%;
	border-radius:15px;
	background-color:rgba(228, 224, 224, 0.59);
	
}

#cari{
	margin-top:15px;
	margin-bottom:15px;
}

#gambar img{
	height:80%;
	width:16%;
	margin:1.8%;
	margin-left:3%;
	float:left;
}

#tulisan{
	margin-left:18%;
	padding-top:7%;
	font-size:46px;
	color:#676464;
}

#tulisan1{
	margin-left:18%;
	font-size:24px;
	color:#676464;
}

table td{
	font-size:18px;
	font-family:arial;
	
}table {
    border-collapse: collapse;
	border:none;
    width: 100%;
}
h3{
	color:white;
	font-size:24px;
	text-align:center;
}

th, td {
    text-align: left;
    padding: 8px;
	color:white;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgba(168, 207, 69, 0.72);
    color: #000;
	text-align:center;
}

#footer{
	height:5%;
	width:100%;
	border-top:1px solid;
	background-color: #49723E;
	color:#fff;
	text-align:center;
	padding-top:1%;
}

#from_login{
	border:5px solid;
}